@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'variables';


html, body {
  border: 0;
  margin: 0;
  font-family: 'Marvel', sans-serif;
  background-color: $gray;
}