@import './variables';

.button-style {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
        width: 100%;
        color: $white;
        background: $red;
        padding: 0.5rem 1.2rem;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }
}

.button-style:hover {
    button {
        background:$white;
        color: $blue;
    }
}